@import '../../../scss/mixins';
@import '../../../scss/variables';
mat-sidenav {
  width: 250px;
}

.disabled {
  display: block;
  opacity: 0.5;
}

.secondary {
  color: rgba(0, 0, 0, 0.54);
}

.pm-is-active {
  color: $accent;
  mat-icon {
    color: $accent;
  }
}
mat-chip-list {
  display: inline-block;
}
