.avatar {
  background-size: cover;
}

mat-card {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

mat-card-subtitle {
  padding: initial !important;
  margin-bottom: 10px;
  margin-top: 10px;
}
