<div class="columns is-marginless">
  <div class="column is-10 is-offset-1">
    <div class="columns">
      <div class="column is-4 has-text-centered">
        <app-user-details style="margin-top: 50px"  [redirectAfterSignUp]="url" [loggedIn]="loggedIn$ | async" [isOwner]="(sitter$ | async)?.isOwner" [user]="(sitter$ | async)?.user"></app-user-details>
        <div>
          <fa-icon icon="money-bill-alt"></fa-icon>
          {{'DAILY_PRICE' | translate}}<br>
          <h5 class="is-lowercase has-text-info">{{(sitter$ | async)?.price | number}} {{ 'AMD' | translate }}</h5>
        </div>
      </div>
      <div class="column">
        <app-mz-slider [slides]="slides" [options]="{ height: 400 }"></app-mz-slider>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <p class="has-text-centered has-text-grey is-size-4 is-size-6-touch">{{'DESCRIPTION' | translate}}</p>
        <br>
        <mat-divider></mat-divider>
        <br>
        <blockquote class="pm-blockquote">
          <div class='pm-blockquote-content'>
            <p>
              <app-medium-editor [value]="sitter?.description" readonly="true"></app-medium-editor>
            </p>
          </div>
        </blockquote>
        <br>
        <div class="field is-grouped">
          <p class="control pm-m-left-auto">
            <button color="primary" mat-raised-button (click)="onShare()">{{ 'SHARE' | translate }}</button>
          </p>
          <p class="control" *ngIf="(sitter$ | async)?.isOwner">
            <button [routerLink]="['/sitters', sitter.id, 'edit']" mat-raised-button>{{ 'EDIT' | translate }}</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
