<div class="pm-content mdl-layout__content">
  <div class="pm-be-together-section has-text-centered">
    <div class="logo-font pm-slogan">give a happiness.</div>
    <div class="logo-font pm-sub-slogan">welcome to petman... one big family.
    </div>
  </div>
  <div class="pm-more-section">
    <div class="pm-section-title mat-display-1">More from Petman</div>
    <div class="columns pm-card-container">
      <div class="column is-3">
        <mat-card class="pm-cursor-pointer" routerLink="/shelters">
          <mat-card-header>
            <mat-card-title>{{'SHELTERS' | translate}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="/assets/shelter-cover.jpg">
          <mat-card-content>
            <span class="has-text-weight-light mdl-typography--subhead pm-vertical-align pm-preview-content">
              {{'SITTERS_INTRO' | translate}}
            </span>
          </mat-card-content>
          <mat-card-actions>
            <a mat-button class="pm-link is-uppercase" routerLink="/shelters">
              {{'VIEW' | translate}}
              <mat-icon>chevron_right</mat-icon>
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="column is-3">
        <mat-card class="pm-cursor-pointer" routerLink="/walkers">
          <mat-card-header>
            <mat-card-title>{{'WALKERS' | translate}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="/assets/walker-cover.jpg">
          <mat-card-content>
            <span class="has-text-weight-light mdl-typography--subhead pm-vertical-align pm-preview-content">
              {{'WALKERS_INTRO' | translate}}
            </span>
          </mat-card-content>
          <mat-card-actions>
            <a mat-button class="pm-link is-uppercase" routerLink="/walkers">
              {{'VIEW' | translate}}
              <mat-icon>chevron_right</mat-icon>
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="column is-3">
        <mat-card class="pm-cursor-pointer" routerLink="/adoption">
          <mat-card-header>
            <mat-card-title>{{'ADOPT' | translate}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="/assets/adopt-cover.jpg">
          <mat-card-content>
            <span class="has-text-weight-light mdl-typography--subhead pm-vertical-align pm-preview-content">
              {{'ADOPT_INTRO' | translate}}
            </span>
          </mat-card-content>
          <mat-card-actions>
            <a mat-button class="pm-link is-uppercase" routerLink="/adoption">
              {{'VIEW' | translate}}
              <mat-icon>chevron_right</mat-icon>
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="column is-3">
        <mat-card class="pm-cursor-pointer" routerLink="/lost-found">
          <mat-card-header>
            <mat-card-title>{{'LOST_AND_FOUND' | translate}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="/assets/lost-and-found-cover.jpg">
          <mat-card-content>
            <span class="has-text-weight-light mdl-typography--subhead pm-vertical-align pm-preview-content">
              {{'LOST_OR_FOUND_INTRO' | translate}}
            </span>
          </mat-card-content>
          <mat-card-actions>
            <a mat-button class="pm-link is-uppercase" routerLink="/lost-found">
              {{'VIEW' | translate}}
              <mat-icon>chevron_right</mat-icon>
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="pm-map-section">
    <div class="pm-section-title mat-display-1">{{'HOME_MAP_HEADER' | translate}}</div>
    <div class="columns is-marginless">
      <div class="column is-paddingless">
        <mat-card>
          <mat-card-content>
            <app-google-map [pins]="pins"></app-google-map>
          </mat-card-content>
          <mat-card-actions>
            <a mat-button class="pm-link is-uppercase" routerLink="/map">
              {{'VIEW' | translate}}
              <mat-icon>chevron_right</mat-icon>
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
