<div class="pm-full-loader">
  <div *tdLoading="let item until !(showLoader$ | appRxDebounce | async); type:'circular'; mode:'indeterminate'; strategy:'overlay'; color:'accent'">
    <div infinite-scroll infiniteScrollContainer="mat-sidenav-content" infiniteScrollDistance="2" infiniteScrollThrottle="300"
      fromRoot="true" (scrolled)="onLoadMore()">
      <div>
        <ng-template #mobileFilters>
          <!-- <h2 matDialogTitle>{{'ADOPT_FILTER_MOBILE_HEADER' | translate}}</h2> -->
          <mat-dialog-content>
            <div class="pm-filters">
              <form [formGroup]="filter">
                <mat-form-field class="pm-filter-options">
                  <mat-select formControlName='type' multiple="true" [placeholder]="'PET_TYPE' | translate">
                    <mat-option [value]="item.value" *ngFor="let item of PetType | keyvalue:keyvaluePipeComparator">{{ item.value | translate }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="pm-filter-options">
                  <mat-select formControlName='gender' multiple="true" [placeholder]="'GENDER' | translate">
                    <mat-option [value]="item.value" *ngFor="let item of Gender | keyvalue:keyvaluePipeComparator">{{ item.value | translate }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="pm-filter-options">
                  <mat-select formControlName='age' multiple="true" [placeholder]="'AGE' | translate">
                    <mat-option [value]="item.value" *ngFor="let item of PetAge | keyvalue:keyvaluePipeComparator">{{ item.value | translate }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="pm-filter-options">
                  <mat-select formControlName='size' multiple="true" [placeholder]="'SIZE' | translate">
                    <mat-option [value]="item.value" *ngFor="let item of PetSize | keyvalue:keyvaluePipeComparator">{{ item.value | translate }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
            </div>
          </mat-dialog-content>
          <mat-dialog-actions align="end">
            <button mat-raised-button (click)="filter.reset()">{{'RESET' | translate}}</button>
            <button mat-raised-button matDialogClose>{{'CLOSE' | translate}}</button>
          </mat-dialog-actions>
        </ng-template>

        <div class="is-hidden-touch pm-filters">
          <form [formGroup]="filter">
            <mat-form-field class="pm-filter-options">
              <mat-select formControlName='type' multiple="true" [placeholder]="'PET_TYPE' | translate">
                <mat-option [value]="item.value" *ngFor="let item of PetType | keyvalue:keyvaluePipeComparator">{{ item.value | translate }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="pm-filter-options">
              <mat-select formControlName='gender' multiple="true" [placeholder]="'GENDER' | translate">
                <mat-option [value]="item.value" *ngFor="let item of Gender | keyvalue:keyvaluePipeComparator">{{ item.value | translate }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="pm-filter-options">
              <mat-select formControlName='age' multiple="true" [placeholder]="'AGE' | translate">
                <mat-option [value]="item.value" *ngFor="let item of PetAge | keyvalue:keyvaluePipeComparator">{{ item.value | translate }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="pm-filter-options">
              <mat-select formControlName='size' multiple="true" [placeholder]="'SIZE' | translate">
                <mat-option [value]="item.value" *ngFor="let item of PetSize | keyvalue:keyvaluePipeComparator">{{ item.value | translate }}</mat-option>
              </mat-select>
            </mat-form-field>

            <button mat-icon-button (click)="filter.reset()">
              <mat-icon>clear_all</mat-icon>
            </button>
          </form>
        </div>
        <app-masonry [options]="masonryOptions">
          <app-masonry-item>
            <a [routerLink]="['/adoption', 'add']">
              <app-add-application [user]="selectedUser$ | async">
                {{'ADD_NEW_APPLICATION' | translate}}
              </app-add-application>
            </a>
          </app-masonry-item>

          <app-masonry-item *ngFor="let item of list$ | async">
            <a [routerLink]="['/adoption', item.id]">
              <app-card [config]="getCardConfig(item)" (actionClick)="onShare(item)"></app-card>
            </a>
          </app-masonry-item>
        </app-masonry>
        <button mat-fab color="accent" class="pm-fab" routerLink="add">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="columns is-marginless" [hidden]="!(list$ | appRxDelay | async)?.length">
        <div class="column has-text-centered">
          <app-progress-button spinnerColor="accent" [active]="pending$ | appRxDebounce | async" [hidden]="!canLoadMore" (click)="onLoadMore()">
            {{ 'LOAD_MORE' | translate }}
          </app-progress-button>
        </div>
      </div>
    </div>
  </div>
</div>
