@import '../../../../scss/variables';

:host {
  display: flex;
  justify-content: center;
}

mat-card {
  position: relative;
}

mat-card-header {
  margin-top: 15px;
}

mat-card-title,
mat-card-header,
mat-card-content {
  display: flex;
  justify-content: center;
}

p {
  width: 300px;
}

img {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -45px;
  left: 130px;
}

.button-facebook {
  background: $facebook;
  color: #ffffff !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: auto;
}
