@import '../../../scss/mixins';

.pm-map-list {
  margin-top: -25px !important;
  @include calc(height, '100vh - 128px');
  @include desktop {
    @include calc(height, '100vh - 135px');
  }
  overflow: auto;
  > .column {
    padding-top: 0;
  }

  .pm-map {
    height: 100%;
    overflow: hidden;
    .pm-map-grid {
      display: inline-block;
      overflow: auto;
      white-space: nowrap;
      width: 100%;
      perfect-scrollbar {
        padding-bottom: 10px;
      }
      app-card {
        margin: 6px;
        display: inline-block;
      }
    }
  }
}

.pm-map-filter {
  padding: 0 24px 24px;
}

mat-button-toggle-group {
  margin-left: auto;
}

app-google-map {
  height: 100%;
}

app-masonry {
  padding: 0 24px 24px;
}
