<div class="pm-full-loader">
  <div *tdLoading="let item until !(pending$ | appRxDebounce | async); type:'circular'; mode:'indeterminate'; strategy:'overlay'; color:'accent'">
    <div class="columns is-marginless is-vcentered is-mobile pm-map-filter">
      <div class="column is-marginless is-paddingless" [attr.style]="filterInlineStyle">
        <mat-form-field>
          <mat-select [placeholder]="'CATEGORIES' | translate" multiple="true" [(ngModel)]="selectedPrimaryCategories" (ngModelChange)="updateList()">
            <mat-option *ngFor="let primaryCategory of primaryCategories$ | async" [value]="primaryCategory.id">{{primaryCategory.label | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="columns is-marginless pm-map-list">
      <div class="column is-paddingless is-hidden-touch" style="overflow-x: auto; margin-left: 12px; margin-right: 12px;">
        <app-masonry [options]="masonryOptions" style="padding-left: 12px; padding-right: 12px;">
          <app-masonry-item *ngFor="let pin of pins">
            <app-card class="pm-cursor-pointer" [config]="getMapGridCardConfig(pin)" (click)="panTo(pin)"></app-card>
          </app-masonry-item>
        </app-masonry>
      </div>
      <div class="column is-paddingless">
        <div style="height: 100%;">
          <app-google-map style="height: 100%;" [pins]="pins"></app-google-map>
        </div>
      </div>
    </div>
  </div>
</div>
