@import '../../../scss/mixins';

.pm-map-list {
  margin-top: -25px !important;
  @include calc(height, '100vh - 133px');
  @include desktop {
    @include calc(height, '100vh - 140px');
  }
  overflow: auto;
  > .column {
    padding-top: 0;
  }

  .pm-map {
    height: 100%;
    overflow: hidden;
  }
}

.pm-map-filter {
  padding: 0 24px 24px;
}

