<mat-sidenav-container>
  <mat-sidenav [opened]="opened" [mode]="mode" color="primary" (openedChange)="openedChange.emit($event)">
    <mat-nav-list>
      <ng-container *ngIf="user?.businessUsers.length">
        <mat-list-item>
          <mat-select (ngModelChange)="selectedUserChange.emit($event)" [ngModel]="selectedUser.id">
            <mat-option [value]="user.id">{{user?.userData?.firstName}}</mat-option>
            <mat-option *ngFor="let businessUser of user.businessUsers" [value]="businessUser.id">{{ businessUser?.userData?.firstName }}
            </mat-option>
          </mat-select>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
      <app-nav-item (activate)="itemActivate.emit()" icon="dashboard" routerLink="" [activeClass]="[isHomeActive]">{{'MAIN' | translate}}</app-nav-item>
      <app-nav-item (activate)="itemActivate.emit()" routerLink="/map" icon="place" routerLinkActive="pm-is-active">{{'MAP' | translate}}</app-nav-item>
      <app-nav-item (activate)="itemActivate.emit()" icon="favorite" routerLink="/sitters" routerLinkActive="pm-is-active">{{'SITTERS' | translate}}</app-nav-item>
      <app-nav-item (activate)="itemActivate.emit()" icon="child_friendly" routerLink="/walkers" routerLinkActive="pm-is-active">{{'WALKERS' | translate}}</app-nav-item>
      <app-nav-item (activate)="itemActivate.emit()" icon="pets" routerLink="/adoption" routerLinkActive="pm-is-active">{{'ADOPTION' | translate}}</app-nav-item>
      <app-nav-item (activate)="itemActivate.emit()" icon="warning" routerLink="/lost-found" routerLinkActive="pm-is-active">{{'LOST_AND_FOUND' | translate}}</app-nav-item>
    </mat-nav-list>
  </mat-sidenav>
  <div class="pm-page-container">
    <ng-content select="[content]"></ng-content>
  </div>
  <ng-content select="[footer]"></ng-content>
</mat-sidenav-container>
