@import '../../../scss/mixins';
@import '../../../scss/variables';

mat-sidenav {
  width: 250px;

  // FIXME: workaround for slider fullscreen
  @include desktop {
    z-index: 1 !important;
  }
}

mat-sidenav-container {
  @extend .pm-full-height;
}

.pm-page-container {
  min-height: calc(100% - 115px);
  display: block;
}

.disabled {
  display: block;
  opacity: 0.5;
}

.change-user-sidenav {
  text-align: center;
}

/deep/ .change-user-sidenav .mat-select-value {
  color: inherit;
}

/deep/ .change-user-sidenav .mat-select-arrow {
  color: inherit;
}
