@import '../../../../scss/mixins';
:host {
  min-height: 100%;
  display: block;
}

app-masonry {
  padding: 12px;
  @include tablet {
    padding: 0 24px 24px;
  }
}

.pm-filters {
  width: 100%;
  @include tablet {
    width: auto;
    padding: 5px 24px;
  }

  mat-form-field {
    width: 100%;

    @include tablet {
      width: auto;
      margin-right: 16px;
    }
  }
}
