<div class="columns is-marginless">
  <div class="column is-10 is-offset-1">
    <div class="columns">
      <div class="column is-4 has-text-centered">
        <app-user-details style="margin-top: 50px"  [redirectAfterSignUp]="url" [loggedIn]="loggedIn$ | async" [isOwner]="(adopt$ | async)?.isOwner" [user]="(adopt$ | async)?.user"></app-user-details>
      </div>
      <div class="column">
        <app-gallery [images]="images"></app-gallery>
        <div class="has-text-grey has-text-right" *ngIf="adopt.type || adopt.gender || adopt.age || adopt.size">
          <br>
          <mat-chip-list>
            <mat-chip *ngIf="adopt.type">{{'PET_TYPE' | translate}} - {{adopt.type | translate}}</mat-chip>
            <mat-chip *ngIf="adopt.gender">{{'GENDER' | translate}} - {{adopt.gender | translate}}</mat-chip>
            <mat-chip *ngIf="adopt.age">{{'AGE' | translate}} - {{adopt.age | translate}}</mat-chip>
            <mat-chip *ngIf="adopt.size">{{'SIZE' | translate}} - {{adopt.size | translate}}</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <p class="has-text-centered has-text-grey is-size-4 is-size-6-touch">{{'DESCRIPTION' | translate}}</p>
        <br>
        <mat-divider></mat-divider>
        <br>
        <blockquote class="pm-blockquote">
          <div class='pm-blockquote-content'>
            <p>
              <app-medium-editor [value]="adopt?.description" readonly="true"></app-medium-editor>
            </p>
          </div>
        </blockquote>
        <br>
        <div class="field is-grouped">
          <p class="control pm-m-left-auto">
            <button color="primary" mat-raised-button (click)="onShare()">{{ 'SHARE' | translate }}</button>
          </p>
          <p class="control" *ngIf="(adopt$ | async)?.isOwner">
            <button [routerLink]="['/adoption', adopt.id, 'edit']" mat-raised-button>{{ 'EDIT' | translate }}</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
