@import 'mixins';
@import 'variables';
:focus { outline:none; }
::-moz-focus-inner { border:0; }

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  overflow: auto;
}

[hidden] {
  display: none !important;
}

.pm-content-spacer {
  @include desktop {
    margin: -10px 25px !important;
  }
}



.pm-fab {
  position: fixed !important;
  right: 20px;
  bottom: 40px;
  z-index: 20;
}

.dont-break-out {
  @include word-wrap();
}

.text-overflow {
  @include text-overflow();
}

mat-icon {
  &.size-40 {
    @include mat-icon-size(40px);
  }
}
.font-8 {
  font-size: 8px;
}

.font-9 {
  font-size: 9px;
}

.font-10 {
  font-size: 12px;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-25 {
  font-size: 25px;
}

.font-30 {
  font-size: 30px;
}

.color-white {
  color: #fff;
}

.color-inherit {
  color: inherit !important;
}

.accent-color-white {
  color: #ffffff !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.background-light-gray {
  background-color: #f1f0f0 !important;
}

.background-white {
  background-color: #ffffff;
}

.background-lightest-gray {
  background-color: #f8f8f8;
}

.background-blue {
  background: #6fb5fc;
}

.background-light-pink {
  background-color: #8b59e4;
}

.font-bold {
  font-weight: bold;
}

.font-uppercase {
  text-transform: uppercase;
}

.padding-15 {
  padding: 15px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.pm-card-avatar {
  background-size: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  &.pm-avatar-medium {
    width: 200px;
    height: 200px;
  }
}

.pm-cursor-pointer, .cp {
  cursor: pointer;
};

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.pm-vertical-align {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pm-full-loader {
  .td-loading-wrapper {
    min-height: calc(100vh - 172px);
    .td-loading {
      mat-progress-spinner {
        position: fixed !important;
        width: 50px !important;
        height: 50px !important;
        svg {
          width: 50px !important;
          height: 50px !important;
        }
        top: 40%;
      }
    }
  }
}

.pm-image-upload {
  margin: 0.75rem 0;
  .pm-image-preview {
    display: flex;
    > div {
      background: center center no-repeat;
      background-size: contain;
      display: inline-block;
      float: left;
      height: 86px;
      margin: 6px;
      position: relative;
      width: 86px;
      fa-icon {
        cursor: pointer;
        position: absolute;
        right: 0;
        color: $danger;
        font-size: 14px;
      }
    }
  }

  td-file-upload {
    display: block;
    margin-bottom: 0.375rem;
  }
}

mat-form-field {
  .pm-quill {
    margin-top: -24px;
    display: block;
    padding-top: -0.4375em;
    .ql-toolbar {
      border: none;
      padding-right: 0;
      padding-left: 0;
    }
    .ql-container {
      font-size: 16px;
      border: none;
      .ql-tooltip {
        z-index: 20;
      }
    }
    .ql-editor {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.pm-m-left-auto {
  margin-left: auto;
}

.pm-blockquote {
  width: 100%;
  border: none;
  padding: 0.75rem 0;
  margin: 0;
  .pm-blockquote-content {
    width: 100%;
    display: block;
    overflow: hidden;
    //border-left: 10px solid #BDCDE8;
    background-color: #fff;
    position: relative;
    > p {
      padding: 1.5rem;
      word-wrap: break-word;
    }
    &:before {
      width: 250px;
      height: 250px;
      display: block;
      background-color: #BDCDE8;
      content: " ";
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      opacity: 0.3;
      transform: translate(30%, 30%);
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }
    p {
      position: relative;
      z-index: 2;
    }
  }
}
