@import 'mixins';
@import 'variables';
:focus { outline:none; }
::-moz-focus-inner { border:0; }

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  overflow: auto;
}

[hidden] {
  display: none !important;
}

.pm-content-spacer {
  @include desktop {
    margin: -10px 25px !important;
  }
}

.pm-gallery-custom {
  position: relative;
  overflow: hidden;
  margin-bottom: -5px;
  ngx-gallery-image {
    height: 100% !important;
  }
  ngx-gallery-thumbnails {
    width: 18%;
    height: 100% !important;
    position: absolute;
    right: 0;
    margin-top: 0 !important;
    .ngx-gallery-thumbnail {
      width: 100% !important;
      position: initial !important;
      height: 20% !important;
      margin-bottom: 5%;
    }
  }
}


image-upload {
  /deep/ {
    .drag-box-message {
      display: none !important;
      @include desktop {
        display: block !important;
      }
    }

    .img-ul-clear {
      display: none !important;
    }

    .img-ul-upload {
      background-color: $primary !important;
    }
  }
}

.pm-fab {
  position: fixed !important;
  right: 20px;
  bottom: 40px;
  z-index: 20;
}

.dont-break-out {
  @include word-wrap();
}

.text-overflow {
  @include text-overflow();
}

mat-icon {
  &.size-40 {
    @include mat-icon-size(40px);
  }
}
.font-8 {
  font-size: 8px;
}

.font-9 {
  font-size: 9px;
}

.font-10 {
  font-size: 12px;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-25 {
  font-size: 25px;
}

.font-30 {
  font-size: 30px;
}

.color-gray {
  color: $gray;
}

.color-light-gray {
  color: $light-gray;
}

.color-white {
  color: #fff;
}

.color-inherit {
  color: inherit !important;
}

.color-blue {
  color: $blue;
}

.color-red {
  color: $red;
}

.color-yellow {
  color: $yellow;
}

.accent-color-white {
  color: #ffffff !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.background-light-gray {
  background-color: #f1f0f0 !important;
}

.background-white {
  background-color: #ffffff;
}

.background-lightest-gray {
  background-color: #f8f8f8;
}

.background-blue {
  background: #6fb5fc;
}

.background-light-pink {
  background-color: #8b59e4;
}

.font-bold {
  font-weight: bold;
}

.font-uppercase {
  text-transform: uppercase;
}

.padding-15 {
  padding: 15px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.pm-card-avatar {
  background-size: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  &.pm-avatar-medium {
    width: 150px;
    height: 150px;
  }
}

.pm-cursor-pointer, .cp {
  cursor: pointer;
};

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.pm-vertical-align {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
