$primary: #4caf50;
$success: #80d47f;
$warning: #ffd740;
$danger: #f44336;

$red: #fc6f6f;
$yellow: #fcc76f;
$light-blue: #BDCDE8;
$blue: #6fb5fc;
$lightest-blue: #f1f3ff;
$gray: #9FACB9;
$gray-dark: #484848;
$light-gray:  #f1f0f0;
$lightest-gray:  #f8f8f8;
$facebook: #3b5998;
