<div class="columns is-marginless">
  <div class="column is-10 is-offset-1">
    <div class="columns">
      <div class="column is-4 has-text-centered">
        <app-user-details style="margin-top: 50px" [redirectAfterSignUp]="url" [loggedIn]="loggedIn$ | async" [isOwner]="(lostFound$ | async)?.isOwner" [user]="(lostFound$ | async)?.user"></app-user-details>
      </div>
      <div class="column">
        <app-mz-slider [slides]="slides" [options]="{ height: 400 }"></app-mz-slider>
        <div class="has-text-grey has-text-right">
          <br>
          <mat-chip-list>
            <mat-chip>{{'APPLICATION_TYPE' | translate}} - {{lostFound.applicationType | translate}}</mat-chip>
            <mat-chip *ngIf="lostFound.type">{{'PET_TYPE' | translate}} - {{lostFound.type | translate}}</mat-chip>
            <mat-chip *ngIf="lostFound.gender">{{'GENDER' | translate}} - {{lostFound.gender | translate}}</mat-chip>
            <mat-chip *ngIf="lostFound.age">{{'AGE' | translate}} - {{lostFound.age | translate}}</mat-chip>
            <mat-chip *ngIf="lostFound.size">{{'SIZE' | translate}} - {{lostFound.size | translate}}</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <p class="has-text-centered has-text-grey is-size-4 is-size-6-touch">{{'DESCRIPTION' | translate}}</p>
        <br>
        <mat-divider></mat-divider>
        <br>
        <blockquote class="pm-blockquote">
          <div class='pm-blockquote-content'>
            <p>
              <app-medium-editor [value]="lostFound?.description" readonly="true"></app-medium-editor>
            </p>
          </div>
        </blockquote>
        <br>
        <div class="field is-grouped">
          <p class="control pm-m-left-auto">
            <button color="primary" mat-raised-button (click)="onShare()">{{ 'SHARE' | translate }}</button>
          </p>
          <p class="control" *ngIf="(lostFound$ | async)?.isOwner">
            <button [routerLink]="['/lost-found', lostFound.id, 'edit']" mat-raised-button>{{ 'EDIT' | translate }}</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
