<ng-progress thick="true" color="#6fb5fc"></ng-progress>
<app-toolbar [loggedIn]="(loggedIn$ | async)"
             [selectedUser]="(selectedUser$ | async)"
             (logOut)="logOut()"
             (openSettings)="openSettings()"
             (toggleMenu)="toggleSidenav($event)">
</app-toolbar>
<app-sidenav [open]="sideNavState"
             [mode]="sideNavMode"
             [user]="user$ | async"
             [selectedUser]="selectedUser$ | async"
             (onSelectedUserChange)="onSelectedUserChange($event)">
  <div class="pm-page-container">
    <router-outlet></router-outlet>
  </div>
  <app-footer *ngIf="!hideFooter" [currentLanguage]="currentLanguage" (onLanguageChange)="onLanguageChange($event)"></app-footer>
</app-sidenav>
