<ng-progress thick="true" color="#6fb5fc"></ng-progress>
<app-toolbar [loggedIn]="(loggedIn$ | async)" [selectedUser]="(selectedUser$ | async)" [redirectAfterSignUp]="redirectAfterSignUp"
  [hideSignUpButton]="hideSignUpButton" (logOut)="logOut()" (openSettings)="openSettings()" (toggleMenu)="toggleSidenav($event)">
</app-toolbar>
<app-sidenav [opened]="sideNavState" [mode]="sideNavMode" [user]="user$ | async" [selectedUser]="selectedUser$ | async" (selectedUserChange)="selectedUserChange($event)"
  (openedChange)="openedChange($event)" (open)="openSideNav()" (close)="closeSideNav()">
  <router-outlet content></router-outlet>
  <app-footer footer *ngIf="!hideFooter" [languages]="languages$ | async" [currentLanguage]="currentLanguage" (changeLanguage)="changeLanguage($event)"></app-footer>
</app-sidenav>
