<div class="columns is-marginless">
  <div class="column is-10 is-offset-1">
    <div class="columns">
      <div class="column is-3 has-text-centered">
        <app-user-details [user]="(shelter$ | async)?.user"></app-user-details>
      </div>
      <div class="column is-9">
        <app-mz-slider [slides]="slides" [options]="{ height: 500 }"></app-mz-slider>
        <div class="has-text-right">
          <fa-icon icon="money-bill-alt"></fa-icon>
          {{'DAILY_PRICE' | translate}}<br>
          <h5>{{(shelter$ | async)?.price | number}} {{ 'AMD' | translate }}</h5>
        </div>
        <blockquote class="pm-blockquote">
          <div class='pm-blockquote-content'>
            <p *ngIf="!(shelter?.description | appIsHtml)">{{shelter?.description}}</p>
            <div *ngIf="shelter?.description | appIsHtml" class="ql-editor" [innerHTML]="shelter?.description | appSafeHtml"></div>
          </div>
        </blockquote>
        <div class="field is-grouped">
          <p class="control pm-m-left-auto">
            <button color="primary" mat-raised-button (click)="onShare()">{{ 'SHARE' | translate }}</button>
          </p>
          <p class="control" *ngIf="(shelter$ | async)?.isOwner">
            <button [routerLink]="['/shelters', shelter.id, 'edit']" mat-raised-button>{{ 'EDIT' | translate }}</button>
          </p>
        </div>
      </div>
    </div>
    <div class="columns">
    </div>
  </div>
</div>
