@import '../../../../scss/mixins';

:host {
  min-height: 100%;
  display: block;
}

mat-form-field {
  width: 100%;
  &.pm-filter-options {
    @include tablet {
      width: auto;
      margin-right: 16px;
    }
  }
}

.pm-intro {
  padding: 0.75rem 0;
}

textarea {
  min-height: 60px;
}
