<mat-card class="pm-card">
  <mat-card-header>
    <div mat-card-avatar class="avatar" *ngIf="config.avatar"
         [ngStyle]="{'background-image': 'url(' + config.avatar + ')'}"></div>
    <mat-card-title>{{config.title}}</mat-card-title>
    <mat-card-subtitle *ngIf="config.subtitle">{{config.subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image *ngIf="config.image" [src]="config.image">
  <mat-card-content *ngIf="config.content || config.price">
    <p *ngIf="config.price">
      <fa-icon icon="money-bill-alt"></fa-icon>
      {{config.price | number}} {{'AMD' | translate }}
    </p>
    <p class="pm-card-content">{{config?.content | stripTags | appEllipsis}}</p>
    <!--TODO: ellipsis for html -->
    <!--<p class="pm-card-content" *ngIf="!(config?.content | appIsHtml)">{{config?.content}}</p>-->
    <!--<div class="ql-editor pm-card-content" *ngIf="config?.content | appIsHtml"-->
         <!--[innerHTML]="config?.content | appSafeHtml"></div>-->
  </mat-card-content>
  <mat-card-actions class="has-text-right" *ngIf="config.actions" (click)="$event.preventDefault(); $event.stopPropagation();">
    <button mat-icon-button [color]="config.actions.color" [matTooltip]="config.actions.tooltipText"
            (click)="actionClick.emit()">
      <mat-icon>{{config.actions.icon}}</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
