@import '../../scss/mixins';

:host {
  text-align: center;
  height: calc(100vh - 205px);
  display: block;
  background: url('/assets/not-found-cover.jpg') center no-repeat;
  background-size: cover;
}

.pm-not-found {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding-top: 150px;
  height: 100%;
}
