<div class="pm-full-loader">
  <div *tdLoading="let item until !(pending$ | appRxDebounce | async); type:'circular'; mode:'indeterminate'; strategy:'overlay'; color:'accent'"
    class="columns is-marginless">
    <div class="column is-8 is-offset-2">
      <td-message [opened]="error$ | async" [label]="'INTERNAL_ERROR_TITLE' | translate" [sublabel]="'INTERNAL_ERROR' | translate"
        color="warn" icon="error"></td-message>
      <form [formGroup]="form">
        <br>
        <mat-hint>{{'DESCRIPTION' | translate}}</mat-hint>
        <mat-form-field>
          <textarea class="is-hidden" formControlName='description' matInput></textarea>
          <quill-editor class="pm-quill" [style]="{height: '100px'}" [modules]="quillModules" placeholder="" formControlName='description'></quill-editor>
          <mat-hint>{{'DESCRIPTION_HINT' | translate}}</mat-hint>
          <mat-error *ngIf="form.get('description').hasError('minlength') || form.get('description').hasError('maxlength')">
            {{'DESCRIPTION_ERROR' | translate}}
          </mat-error>
        </mat-form-field>
        <div></div>
        <br>
        <div class="columns">
          <div class="column">
            <div class="pm-image-upload">
              <td-file-upload #fileMultipleUpload formControlName='images' accept="image/gif, image/jpeg, image/png" defaultColor="accent"
                activeColor="warn" cancelColor="primary" multiple>
                <mat-icon>file_upload</mat-icon>
                <span>
                  {{ fileMultipleUpload.value?.name | appEllipsis:20 }}
                  <span *ngIf="fileMultipleUpload.value?.length" translate [translateParams]="{n: fileMultipleUpload.value.length}">N_FILES_SELECTED</span>
                </span>
                <ng-template td-file-input-label>
                  <mat-icon>attach_file</mat-icon>
                  <span>
                    {{'SELECT_IMAGES' | translate}}
                  </span>
                </ng-template>
              </td-file-upload>
              <mat-hint *ngIf="!form.get('images').hasError('maxlength')">{{'IMAGE_HINT' | translate}}</mat-hint>
              <mat-error *ngIf="form.get('images').hasError('maxlength')">{{'IMAGE_ERROR' | translate}}</mat-error>
              <!--<div class="pm-image-preview" [hidden]="form.get('images').value">-->
              <!--<div *ngFor="let image of adopt?.images" [style.background-image]="'url(' + image + ')'">-->
              <!--<fa-icon icon="times-circle"></fa-icon>-->
              <!--</div>-->
              <!--</div>-->
            </div>
          </div>
          <div class="column is-4">
          </div>
        </div>
        <br>
        <div class="columns">
          <div class="column has-text-right">
            <button mat-raised-button color="warn" (click)="delete()">
              {{ 'DELETE' | translate }}
            </button>&nbsp;
            <button mat-raised-button [disabled]="!form.valid" type="submit" color="accent" (click)="update()">
              {{ 'UPDATE' | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
