<div mat-card-avatar class="pm-cursor-pointer pm-card-avatar" [routerLink]="['/users', user?.id]" [ngStyle]="{'background-image': 'url(' + user?.userData?.avatar + ')'}"></div>
<div class="is-size-4 has-text-grey">{{user?.userData?.name}}</div>
<ng-container *ngIf="loggedIn; else loginNote">
  <div class="columns is-marginless" *ngIf="!isOwner">
    <div *ngIf="user?.userData?.phoneNumber" class="column has-text-centered">
      <a class="control" target="_blank" [href]="'tel:' + user.userData.phoneNumber" mat-stroked-button>
        <fa-icon icon="phone"></fa-icon> {{'CALL' | translate}}
      </a>
    </div>
  </div>
  <div *ngIf="user?.userData?.facebookUrl">
    <p>
      <span class="has-text-grey is-lowercase">{{'FACEBOOK' | translate}}</span>
      <a class="control" target="_blank" [href]="user.userData.facebookUrl">
        {{user.userData.facebookUrl}}
      </a>
    </p>
  </div>
  <div *ngIf="user?.userData?.phoneNumber">
    <p class="has-text-centered"><span class="has-text-grey is-lowercase">{{'PHONE_NUMBER' | translate}}</span> {{user.userData.phoneNumber}}</p>
  </div>
</ng-container>
<ng-template #loginNote>
  <a class="has-text-grey-light" [routerLink]="['/auth/login']" [queryParams]="{next: redirectAfterSignUp}">{{"PLEASE_LOGIN_FOR_MORE_INFO" | translate}}</a>
</ng-template>
