<div class="pm-full-loader">
  <div *tdLoading="let item until !(pending$ | appRxDebounce | async); type:'circular'; mode:'indeterminate'; strategy:'overlay'; color:'accent'"
    class="columns is-marginless">
    <div class="column is-8 is-offset-2">
      <td-message [opened]="error$ | async" [label]="'INTERNAL_ERROR_TITLE' | translate" [sublabel]="'INTERNAL_ERROR' | translate"
        color="warn" icon="error"></td-message>
      <form [formGroup]="form">
        <br>
        <mat-hint>{{'DESCRIPTION' | translate}}</mat-hint>
        <mat-form-field>
          <textarea class="is-hidden" formControlName='description' matInput></textarea>
          <app-medium-editor formControlName="description"></app-medium-editor>
          <mat-hint>{{'DESCRIPTION_HINT' | translate}}</mat-hint>
          <mat-error *ngIf="form.get('description').hasError('minlength') || form.get('description').hasError('maxlength')">
            {{'DESCRIPTION_ERROR' | translate}}
          </mat-error>
        </mat-form-field>
        <div></div>
        <br>
        <div class="columns">
          <div class="column">
          </div>
          <div class="column is-4">
            <mat-form-field>
              <input formControlName='price' matInput type="number" [placeholder]="'DAILY_PRICE' | translate" min="0" />
              <mat-hint>{{'REQUIRED' | translate}}</mat-hint>
              <mat-error *ngIf="form.get('price').hasError('required')">{{'REQUIRED' | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="columns">
          <div class="column has-text-right">
            <button mat-raised-button color="warn" (click)="delete()">
              {{ 'DELETE' | translate }}
            </button>&nbsp;
            <button mat-raised-button [disabled]="!form.valid" type="submit" color="accent" (click)="update()">
              {{ 'UPDATE' | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
