<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleMenu.emit($event)">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/" class="pm-cursor-pointer">Petman
    <span class="font-9">beta</span>
  </span>
  <div flex></div>
  <!--<td-search-box placeholder="Search" [alwaysVisible]="false" flex></td-search-box>-->
  <span class="pm-spacer" flex></span>
  <ng-container *ngIf="loggedIn; else unauthorized">
    <!--<td-notification-count color="warn">-->
    <!--<mat-icon>messages</mat-icon>-->
    <!--</td-notification-count>-->
    <!--<button mat-icon-button [matMenuTriggerFor]="notificationsMenu">-->
    <!--<td-notification-count [notifications]="101">-->
    <!--<mat-icon>notifications</mat-icon>-->
    <!--</td-notification-count>-->
    <!--</button>-->
    <!--<mat-menu #notificationsMenu="matMenu" [overlapTrigger]="false">-->
    <!--<td-menu>-->
    <!--<div td-menu-header class="md-subhead">Notifications</div>-->
    <!--<mat-nav-list dense>-->
    <!--<ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5,6,7,8,9]">-->
    <!--<a mat-list-item>-->
    <!--<mat-icon matListAvatar>today</mat-icon>-->
    <!--<h4 matLine><span class="text-wrap">A user did an activity on an item that you've subscribed to follow actions on.</span></h4>-->
    <!--<p matLine>22 minutes ago</p>-->
    <!--</a>-->
    <!--<mat-divider *ngIf="!last"></mat-divider>-->
    <!--</ng-template>-->
    <!--</mat-nav-list>-->
    <!--<button mat-button color="accent" td-menu-footer>-->
    <!--See All Notifications-->
    <!--</button>-->
    <!--</td-menu>-->
    <!--</mat-menu>-->
    <span class="is-hidden-mobile cp" [matMenuTriggerFor]="menu">{{selectedUser?.userData.firstName}}&nbsp;</span>
    <div class="pm-card-avatar pm-cursor-pointer" [matMenuTriggerFor]="menu" [ngStyle]="{'background-image': 'url(' + selectedUser?.userData.avatar + ')'}"></div>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item (click)="openSettings.emit()">
        <mat-icon>settings</mat-icon>
        <span>{{'SETTINGS' | translate}}</span>
      </button>
      <button mat-menu-item (click)="logOut.emit()">
        <mat-icon>exit_to_app</mat-icon>
        <span>{{'SIGN_OUT' | translate}}</span>
      </button>
    </mat-menu>
  </ng-container>
  <ng-template #unauthorized>
    <button mat-raised-button color="accent" routerLink="/auth/login">{{'SIGN_UP' | translate}}</button>
  </ng-template>
</mat-toolbar>
