<div class="columns is-marginless">
  <div class="column is-10-fullhd is-offset-1-fullhd">
    <div class="columns">
      <div class="column is-4 has-text-centered">
        <app-user-details style="margin-top: 20px" [redirectAfterSignUp]="url" [loggedIn]="loggedIn$ | async" [isOwner]="(walker$ | async)?.isOwner" [user]="(walker$ | async)?.user"></app-user-details>
        <div>
          <fa-icon icon="money-bill-alt"></fa-icon>
          {{'DAILY_PRICE' | translate}}<br>
          <h5 class="is-lowercase has-text-info">{{(walker$ | async)?.price | number}} {{ 'AMD' | translate }}</h5>
        </div>
      </div>
      <div class="column">
        <div class="column">
          <p class="has-text-centered has-text-grey is-size-4 is-size-6-touch" style="margin-top: 50px">{{'DESCRIPTION' | translate}}</p>
          <br>
          <mat-divider></mat-divider>
          <br>
          <blockquote class="pm-blockquote">
            <div class='pm-blockquote-content'>
              <p>
                <app-medium-editor [value]="walker?.description" readonly="true"></app-medium-editor>
              </p>
            </div>
          </blockquote>
          <div class="field is-grouped" style="margin-top: 100px">
            <p class="control pm-m-left-auto">
              <button color="primary" mat-raised-button (click)="onShare()">{{ 'SHARE' | translate }}</button>
            </p>
            <p class="control" *ngIf="(walker$ | async)?.isOwner">
              <button [routerLink]="['/walkers', walker.id, 'edit']" mat-raised-button>{{ 'EDIT' | translate }}</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
